body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.mainhead {
  color: rgb(55, 63, 68);
  font-family:cursive;
  font-size: 25px;
  padding-left: 45%;
  padding-right: 45%;
}
.footer{
  background-color: rgb(55, 63, 68);
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.linkedin {
  filter: invert(1);
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
  display: block;
  margin-left: 49%;
  
}
.footerlist {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.labbox{
  display: inline-grid;
  margin-top: 10px;
  width: 200px;
  border-style: solid;
  border-color: #075777;
}
.labcap{
  text-align: center;
  display: inline-grid;
  text-decoration: none;
  margin-top: 0px;
  width: 196px;
  border-top: 0px;
}
p {
  text-decoration: none;
  color: rgb(55, 63, 68);
  font-style: italic;
  padding: 2px;
  margin-top: 0px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: 23%;
  margin-right: 23%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 200px;
  font-size:medium;
}
.aboutme {
  text-align: center;
}
.me {
  width: 15%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  border-radius: 50%;
}
.mebio {
  margin-left: 30%;
  margin-right: 30%;
}