body {
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .mainhead {
    text-align: right;
    background-color: rgb(55, 63, 68);
    color: white;
    padding-right: 20px;
    font-family:cursive;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;

  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(55, 63, 68);
    margin-top: 0px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 0px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active{
    background-color: #075777;
    color: white;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropbtnlab {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 15px 16px;
    background-color: #075777;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .lab3 {
    text-align: center;
    font-family: cursive;
  }
  .fp {
      text-align: center;
      font-family: cursive;
  }
  .footer{
    background-color: rgb(55, 63, 68);
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .linkedin {
    filter: invert(1);
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    display: block;
    margin-left: 49%;
    
  }
  .footerlist {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
  }
